Value Port (\d+(\s*\([CF]\)){0,1})
Value State (\S+)
Value Connection (Link Down|\S+)
Value DESCRIPTION (\S*)

Start
  ^\s*${Port}\s+${State}\s+\S+\s+${Connection}\s+\S+\s+(\S+\s+){0,1}
  ^.*\s*(Desc|Description): ${DESCRIPTION} -> Record