### Python template
*
!apps
!devicemanager
!ecstasy_project
!templates
!create_docs.py
!device_connector.py
!manage.py
!run.sh
!pyproject.toml
!uv.lock

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class