### Python template
*
!accounting
!app_settings
!check
!devicemanager
!ecstasy_project
!gathering
!gpon
!maps
!net_tools
!news
!ring_manager
!templates
!create_docs.py
!device_connector.py
!manage.py
!run.sh
!pyproject.toml
!uv.lock

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class