/static/*
!/static/bootstrap
!/static/leaflet
!/static/swagger
!/static/css
!/static/js
!/static/img
!/static/flavico.ico
!/static/video

media

templates/tools/vlans
templates/test*
templates/maps/external
ecstasy_project/settings_prod.py
docker-compose-dev.yaml

.run
.idea
.coverage
.obsidian

configs
lib
logs
data
tmp
map_layer_files
db-backup

venv
node_modules

db.sqlite3*
test.py
_test*

celerybeat-schedule*
*/fixtures
*.geojson

doppler.yaml
appmap.yml