static/map_previews
static/docs
static/admin
static/rest_framework

templates/tools/vlans
templates/test*
templates/maps/external
ecstasy_project/settings_prod.py

.run
.idea
.coverage

configs
lib
logs
data
tmp
map_layer_files
db-backup

venv
node_modules

db.sqlite3*
test.py
_test*
*.drawio*

celerybeat-schedule*
*/fixtures
*.geojson

doppler.yaml
appmap.yml