[MASTER]
load-plugins=pylint_django
django-settings-module=ecstasy_project.settings
extension-pkg-whitelist=django


[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        line-too-long,
        missing-function-docstring, missing-class-docstring, missing-module-docstring,
        duplicate-code, too-many-arguments

[TYPECHECK]
generated-members=REQUEST,Response,Objects.filter,objects.filter,db.Manager,objects.Manager