pexpect
PyYAML
textfsm
requests
tabulate
pyzabbix
coreapi
pyyaml
alive-progress
Django
mysqlclient
pyvis==0.3.1
celery
ping3
geopy
gunicorn
pdoc
Pillow
djangorestframework
redis
django-filter
djangorestframework-simplejwt
drf-yasg>=1.21.7
pysftp>=0.2.9
django-dbbackup
drf-orjson-renderer
orjson
django-celery-beat
xlwt
django-jazzmin
urllib3
flask
gevent
flower