pexpect
PyYAML
textfsm
requests
tabulate
pyzabbix
alive-progress
Django
#mysqlclient
pyvis==0.3.1
celery
ping3
geopy
gunicorn
pdoc
Pillow
djangorestframework
redis
django-filter
djangorestframework-simplejwt
drf-yasg