<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'flavico.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Ecstasy | Login{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body class="text-center">

<main class="form-signin">
  <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
    <div id="logo_nedema">
        <svg height="200px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
        <g>
            <path fill="#2E628C" d="M232.9,217.3c114.1-71.7,230.4-96.2,274.6-60.9c-1.2-5.3-3.2-10.4-6.1-14.9c-32.4-51.6-160.2-29.7-285.4,49   C90.9,269.1,15.7,374.7,48.1,426.3c2.9,4.6,6.5,8.5,10.8,11.9C46.3,383.1,118.8,289,232.9,217.3z"/>
            <path fill="#2E628C" d="M320.2,212.7c71.7,114.1,96.2,230.4,60.9,274.6c5.3-1.2,10.3-3.2,14.9-6.1c51.6-32.4,29.7-160.2-49-285.3   C268.4,70.7,162.8-4.5,111.2,28c-4.6,2.9-8.5,6.5-11.9,10.8C154.4,26.1,248.5,98.6,320.2,212.7z"/>
            <path fill="#0FB0F5" d="M320.3,356.4C206.2,428.1,88.2,453.2,44,417.9c1.2,5.3,4.1,10.6,7,15.1c32.4,51.6,161,28.9,286.2-49.7   C462.3,304.6,533.9,201,505.4,147.1c-2.5-4.7-7-11-11.3-14.4C506.8,187.8,434.4,284.7,320.3,356.4z"/>
            <path fill="#0579F7" d="M191.9,152.2c114.1-71.7,230.4-96.2,274.6-60.9c-1.2-5.3-3.2-10.3-6.1-14.9c-32.4-51.6-160.2-29.7-285.4,49   C49.9,204-25.3,309.6,7.2,361.2c2.9,4.5,6.5,8.5,10.8,11.9C5.3,317.9,77.8,223.9,191.9,152.2z"/>
            <path fill="#0FB0F5" d="M181.1,300.1C109.4,186,84.3,68,119.7,23.8c-5.3,1.2-10.6,4.1-15.1,7c-51.6,32.4-28.9,161,49.8,286.2   c78.7,125.2,182.3,196.7,236.2,168.3c4.7-2.5,11-7,14.4-11.3C349.7,486.6,252.8,414.3,181.1,300.1z"/>
            <path fill="#06D4FB" d="M279.4,291.2C165.2,363,47.2,388,3,352.7c1.2,5.3,4.1,10.6,7,15.1c32.4,51.6,161,28.9,286.2-49.8   c125.2-78.7,196.7-182.3,168.3-236.2c-2.5-4.7-7-11-11.3-14.4C465.8,122.6,393.5,219.5,279.4,291.2z"/>
        </g>
        </svg>
    </div>
    <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите в систему Ecstasy</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="username">
      <label for="floatingInput">Логин</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password">
      <label for="floatingPassword">Пароль</label>
    </div>

    <div class="checkbox mb-3">
      <a href="{% url 'password_reset' %}">Забыл</a>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    <p class="mt-5 mb-3 text-muted">АО "Севастополь Телеком" <br> Руденко Игорь &copy; 2022-2023</p>
  </form>
</main>
</body>

</html>