@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.traceroute-back {
    background-color: #222222;
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
}