html,
body {
    height: 100%;
    margin: 0;
}
#map {
    height: 100%;
    width: 100%;
}

.popup-ip {
    padding: 5px;
    background-color: cornflowerblue;
    border-radius: 8px;
    color: white;
}

.popup-host-description {
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
}

.popup-host-description:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}