<div class="container" id="port-info">
    <div class="row table-responsive-lg">
        <div class="col">
            <p>Profile name: <strong>{{ profile_name }}</strong></p>
            {% for line in first_col %}
                <p>{{ line }}</p>
            {% endfor %}
        </div>
    <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th scope="col" style="text-align: center;">Downstream</th>
              <th scope="col" style="text-align: center;">Upstream</th>
            </tr>
          </thead>
          <tbody>

            <tr>
                <td style="text-align: right">{{ line }}</td>
                <td style="text-align: center; background-color: {{ streams.Do.0.color }};">{{ streams.Do.0.value }}</td>
                <td style="text-align: center; background-color: {{ streams.Up.0.color }};">{{ streams.Up.0.value }}</td>
            </tr>

            <tr>
                <td style="text-align: right">Максимальная скорость передачи данных (Кбит/с)</td>
                <td style="text-align: center; background-color: {{ streams.Do.1.color }};">{{ streams.Do.1.value }}</td>
                <td style="text-align: center; background-color: {{ streams.Up.1.color }};">{{ streams.Up.1.value }}</td>
            </tr>

            <tr>
                <td style="text-align: right">Сигнал/Шум (дБ)</td>
                <td style="text-align: center; background-color: {{ streams.Do.2.color }};">{{ streams.Do.2.value }}</td>
                <td style="text-align: center; background-color: {{ streams.Up.2.color }};">{{ streams.Up.2.value }}<td>
            </tr>

            <tr>
                <td style="text-align: right">Interleaved channel delay (ms)</td>
                <td style="text-align: center; background-color: {{ streams.Do.3.color }};">{{ streams.Do.3.value }}</td>
                <td style="text-align: center; background-color: {{ streams.Up.3.color }};">{{ streams.Up.3.value }}</td>
            </tr>

            <tr>
                <td style="text-align: right">Затухание линии (дБ)</td>
                <td style="text-align: center; background-color: {{ streams.Do.4.color }};">{{ streams.Do.4.value }}</td>
                <td style="text-align: center; background-color: {{ streams.Up.4.color }};">{{ streams.Up.4.value }}</td>
            </tr>

            <tr>
                <td style="text-align: right">Общая выходная мощность (dBm)</td>
                <td style="text-align: center; background-color: {{ streams.Do.5.color }};">{{ streams.Do.5.value }}</td>
                <td style="text-align: center; background-color: {{ streams.Up.5.color }};">{{ streams.Up.5.value }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <hr>
</div>