{% extends 'check/base.html' %}
{% load static %}
{% block title %}
{{ mac }}
{% endblock %}

{% block content %}
    <h2 style="text-align: center">{{ device }}</h2>
    <h3>Порт: {{ port }}</h3>
    <h3 class="alert alert-secondary">{{ desc }}</h3>
    <h3 style="text-align: center; font-family: monospace" class="alert alert-primary">{{ mac }}</h3>

    <form method="post" action="{% url 'cut-session' %}">
      {% csrf_token %}
      <input type="text" name="device" value="{{ device }}" hidden>
      <input type="text" name="port" value="{{ port }}" hidden>
      <input type="text" name="mac" value="{{ mac }}" hidden>
      <span class="badge rounded-pill bg-info text-dark" style="cursor: pointer">
          <input type="submit" value="Сбросить сессию" class="btn">
      </span>
    </form>
    <hr>
    {% for bras, res in result.items %}
        <h4>{{ bras }}</h4>
        <div>
            {{ res|linebreaks }}
        </div>
        <hr>
    {% empty %}
        <div>Not Found :(</div>
    {% endfor %}

<button
    type="button"
    class="btn btn-primary btn-floating btn-lg"
    id="btn-back-to-top"
    style="position: fixed;
          bottom: 20px;
          right: 20px;
          display: none;">
<svg id="i-chevron-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M30 20 L16 8 2 20" />
</svg>
</button>

{% endblock %}

{% block js %}
<script src="{% static 'js/back_to_top.js' %}"></script>
{% endblock %}