{% extends 'base.html' %}
{% load static %}

{% block title %}
Session: {{ mac }}
{% endblock %}


{% block toast %}
<div aria-live="polite" aria-atomic="true" class="sticky-top">
  <div class="toast-container position-absolute top-0 end-0 p-3">

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
             aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect id="toast_color"  width="100%" height="100%" fill="#007aff"></rect>
        </svg>
        <strong id="toast_title" class="me-auto">INFO</strong>
        <small id="toast_extra" class="text-muted">только что</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
      </div>
      <div id="toast_message" class="toast-body">
        Сообщение
      </div>
    </div>

  </div>
</div>
{% endblock %}



{% block content %}
    <h2 class="alert" style="text-align: center">
        <a class="text-dark text-decoration-none" href="{% url 'device_info' device %}?current_status=1">{{ device }}</a>
    </h2>


    <div class="container text-center">
        <div class="row row-cols-auto">
            {# Имя порта #}
            <div class="col">
                <a class="btn btn-light position-relative"
                href="{% url 'get_mac' %}?device={{ device }}&port={{ port }}&desc={{ desc }}">
                    {{ port }}
                </a>
            </div>

            {# DESCRIPTION #}
            <div class="col" style="margin-left: 10px">
                <h3><span class="badge bg-info">{{ desc }}</span></h3>
            </div>

        </div>
    </div>


<style>
#mac {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 22px;
    padding: 0;
    color: rgb(33,37,41);
    border: 0;
    outline: 0;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    background: lightgrey;
    vertical-align: middle;
}
</style>


    <hr>

    {% for err in errors %}
        <div class="alert alert-danger">
            <span>{{ err }}</span>
        </div>
    {% endfor %}


{#    BRAS DATA   #}
    <div id="brases-data">
        <div class="text-center">
            <div class="spinner-grow text-primary" role="status" style="width: 100px; height: 100px;">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>


{#    КНОПКА ВВЕРХ #}
<button
    type="button"
    class="btn btn-primary btn-floating btn-lg"
    id="btn-back-to-top"
    style="position: fixed;
          bottom: 20px;
          right: 20px;
          display: none;">
<svg id="i-chevron-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M30 20 L16 8 2 20"></path>
</svg>
</button>

{% endblock %}

{% block js %}
<script src="{% static 'js/back_to_top.js' %}"></script>
<script src="{% static 'js/get_session.js' %}"></script>
<script>
get_session("{{ mac }}", "{{ device }}", "{{ port }}")
</script>
{% endblock %}