{% extends 'base.html' %}
{% load static %}

{% block title %}Оборудование{% endblock %}

{% block content %}
<form method="get">
    <div class="input-group mb-3">
      <input name="s" type="text" class="form-control" placeholder="Введите IP или имя оборудования" aria-label="Поиск"
             aria-describedby="button-addon2" value="{{ search|default_if_none:'' }}" autofocus>
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
    </div>
</form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Имя</th>
          <th scope="col">IP</th>
          <th scope="col">Тип</th>
          <th scope="col">Модель</th>
          <th scope="col">Группа</th>
        </tr>
      </thead>
      <tbody>
        {% for dev in devs %}
            <tr>
              <td>
                  <a class="badge rounded-pill bg-primary text-light text-decoration-none"
                     style="font-family: 'Yu Gothic UI Semilight', monospace; font-size: 1rem"
                     data-bs-toggle_help="tooltip" data-bs-placement="top"
                     data-bs-title="Просканировать интерфейсы в реальном времени"
                     href="{% url 'device_info' dev.name %}?current_status=1"
                  >I</a>

                  {% if dev.port_scan_protocol != 'snmp' %}
                  <a class="badge rounded-pill bg-info text-dark text-decoration-none"
                     style="font-family: 'Yu Gothic UI Semilight', monospace; font-size: 1rem"
                     data-bs-toggle_help="tooltip" data-bs-placement="top"
                     data-bs-title="Просканировать интерфейсы и VLANS в реальном времени"
                     href="{% url 'device_info' dev.name %}?current_status=1&vlans=1"
                  >V</a>
                  {% endif %}

                  <a class="badge rounded-pill bg-secondary text-decoration-none"
                     style="font-family: 'Yu Gothic UI Semilight', monospace; font-size: 1rem"
                     data-bs-toggle_help="tooltip" data-bs-placement="top"
                     data-bs-title="Последние сохраненные интерфейсы"
                     href="{% url 'device_info' dev.name %}"
                  >L</a>

              </td>
              <td>{{ dev.name }}</td>
              <td>{{ dev.ip }}</td>
              <td>{{ dev.vendor | default_if_none:'' }}</td>
              <td>{{ dev.model | default_if_none:'' }}</td>
              <td>{{ dev.group.name }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

<footer class="text-center text-lg-start text-muted">
    <div class="container p-4">

        {% if num_pages > 1 %}
        <nav aria-label="...">
          <ul class="pagination justify-content-center">

            {# Первая страница #}
            {% if page > 2 %}
            <li class="page-item">
                <a class="page-link" href="{% url 'devices-list' %}?page=1&s={{ search_str }}">1 << </a>
            </li>
            {% endif %}

            <li class="page-item {% if page == 1 %}disabled{% endif %}">
              <a class="page-link" href="{% url 'devices-list' %}?page={{ page | add:'-1' }}&s={{ search_str }}">Предыдущая</a>
            </li>

            {# Предыдущая страница #}
            {% if page != 1 %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'devices-list' %}?page={{ page|add:'-1' }}&s={{ search_str }}">{{ page|add:'-1' }}</a>
                </li>
            {% endif %}


            {# Текущая страница #}
            <li class="page-item active" aria-current="page">
              <a class="page-link">{{ page }}</a>
            </li>


            {# Следующая страница #}
            {% if num_pages != page %}
            <li class="page-item">
                <a class="page-link" href="{% url 'devices-list' %}?page={{ page|add:'1' }}&s={{ search_str }}">{{ page|add:'1' }}</a>
            </li>
            {% endif %}

            {# Запасная страница #}
            {% if page == 1 and page < num_pages %}
            <li class="page-item">
                <a class="page-link" href="{% url 'devices-list' %}?page={{ page|add:'2' }}&s={{ search_str }}">{{ page|add:'2' }}</a>
            </li>
            {% endif %}

            {# Следующая страница #}
            <li class="page-item {% if page == num_pages %}disabled{% endif %}">
              <a class="page-link" href="{% url 'devices-list' %}?page={{ page|add:'1' }}&s={{ search_str }}">Следующая</a>
            </li>

            {# Последняя страница #}
            {% if page < num_pages|add:'-1' %}
            <li class="page-item">
              <a class="page-link" href="{% url 'devices-list' %}?page={{ num_pages }}&s={{ search_str }}"> >> {{ num_pages }}</a>
            </li>
            {% endif %}

          </ul>
        </nav>
    {% endif %}
    </div>
</footer>

{# ПЕРЕМЕСТИТЬСЯ ВВЕРХ #}
<button
    type="button"
    class="btn btn-primary btn-floating btn-lg"
    id="btn-back-to-top"
    style="position: fixed;
          bottom: 20px;
          right: 20px;
          display: none;">
<svg id="i-chevron-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M30 20 L16 8 2 20" />
</svg>
</button>

{% endblock %}

{% block js %}
<script src="{% static 'js/back_to_top.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
</script>
<script>

const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle_help="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

</script>
{% endblock %}