{% extends 'check/base.html' %}
{% load static %}

{% block title %}
Logs {{ dev.name }}
{% endblock %}

{% block content %}

    <h2 style="text-align: center"><name>{{ dev.name }}</name> ({{ dev.ip }})</h2>


    <div id="logs">
        <div class="d-flex align-items-center">
          <strong>Загрузка...</strong><span class=""> Загрузка логов может занять некоторое время</span>
          <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
    </div>

{% endblock %}

{% block js %}
<script src="{% static 'js/get_logs.js' %}"></script>
{% endblock %}