<span>Всего: {{ macs|length }}</span>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th scope="col">VLAN</th>
      <th scope="col">MAC</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbody-macs">
     {% for mac in macs %}
        <tr>
            <td></td>
            <td style="font-family: monospace; font-size: x-large;">{{ mac.0 }}</td>
            <td style="font-family: monospace; font-size: x-large; max-width: 100px;">{{ mac.1 }}</td>
            <td>
                {% if perms >= 3 %}
{#                  Посмотреть MAC     #}
                  <a class="btn btn-outline-primary"
                     href="{% url 'parse_mac' %}?device={{ dev.name }}&port={{ port }}&desc={{ desc }}&mac={{ mac.1 }}"
                  >BRAS</a>
                {% endif %}
                {% if mac_finder_url %}
                  <a class="btn btn-outline-secondary" target="_blank"
                     href="{{ mac_finder_url }}/{{ mac.1 }}">
                  FIND
                  </a>
                {% endif %}
            </td>
        </tr>
     {% empty %}
        <td>No MAC's</td>
     {% endfor %}
  </tbody>

</table>