<!--suppress ALL -->
<style>
tr:hover {
    background: #e8efff;
}
#mac-line:hover bi {
    visibility: visible;
    color: #558af1;
}
#mac-line:hover span {
    color: #558af1;
}

#mac-line:not(:hover) .bi {
    visibility: hidden;
}
</style>


<span>Всего: {{ macs|length }}</span>
<div class="table-responsive-lg">
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th scope="col">VLAN</th>
      <th scope="col">MAC</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbody-macs">
     {% for vid, mac, vlan_name in macs %}
        <tr>
            <td></td>

            {# VLAN #}
            <td style="font-family: monospace; font-size: x-large;">
                <span {% if vlan_name %}data-bs-toggle="tooltip" data-bs-placement="right"
                       data-bs-title="{{ vlan_name }}"{% endif %}
                    style="cursor: help">
                    {{ vid }}
                </span>
            </td>

            {# MAC #}
            <td id="mac-line" style="font-family: monospace; font-size: x-large;">
                <span class="nowrap" style="cursor: pointer" title="Поиск MAC"
                      onclick="start_search_mac('{{ mac }}')"
                      data-bs-toggle="modal" data-bs-target="#modal-mac">
                    {{ mac }}
                    <svg class="bi me-2" width="24" height="24" role="img">
                        <use xlink:href="#search-icon"></use>
                    </svg>
                </span>
            </td>

            <td>
                {% if perms >= 3 %}
{#                  Посмотреть сессию     #}
                  <a class="btn btn-outline-primary"
                     href="{% url 'show-session' %}?device={{ dev.name }}&port={{ port }}&desc={{ desc }}&mac={{ mac }}"
                  >BRAS</a>
                {% endif %}
                {% if mac_finder_url %}
                  <a class="btn btn-outline-secondary" target="_blank"
                     href="{% url 'search-mac-address' mac %}">
                  FIND
                  </a>
                {% endif %}
            </td>
        </tr>
     {% empty %}
        <td>No MAC's</td>
     {% endfor %}
  </tbody>
</table>
</div>

<script>  // Обновляем tooltip
window.tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
window.tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>