<!DOCTYPE html>

<html lang="ru">

<head>
    {% load static %}
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'flavico.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Карты{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/5.2.2.min.css' %}">
    <script src="{% static 'bootstrap/bundle5.2.2.min.js' %}"></script>
    {% block links %}
    <link rel="stylesheet" href="{% static 'leaflet/1.6.0.min.css' %}">
    <script src="{% static 'leaflet/1.6.0.min.js' %}"></script>
    {% endblock %}

<style>
html * {
    font-family: 'Inter', sans-serif;
}
.map-background {
    background-image: url('{% static "img/maps/background.png" %}');
    background-repeat: no-repeat;
    height: 450px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.logo {
    border: none;
    height: 70px;
    width: 70px;
    animation: 3.75s linear infinite spinner-border;
}
</style>
</head>

<body>

{% block toast %}{% endblock %}

<div class="h-100">

{% include 'menu.html' %}

  <section class="text-center">
      <div id="map" style="height: 450px"></div>

  </section>
    <div class="text-center row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Карты</h1>
        <p class="lead text-muted">В данном разделе вы сможете видеть доступные для просмотра интерактивные карты</p>
      </div>
    </div>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="display: flex; justify-content: center;">

          {% for map in maps %}
            <div class="col row-eq-height">
              <div class="card shadow-sm h-100">

                <a href="{% url 'interactive-map-show' map.id %}">
                {% if map.preview_image %}
                    <div style="max-height: 225px; min-height: 225px; background-image: url('{{ map.preview_image.url }}'); background-size: cover"></div>
                {% else %}
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                    </svg>
                {% endif %}
                </a>

                <div class="card-body">
                  <h3 class="card-text d-flex align-items-center justify-content-between">
                    <div>{{ map.name }}</div>
                    {% if map.interactive %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Данные обновляются автоматически">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
                        </svg>
                    {% endif %}
                  </h3>
                  <p class="card-text pb-2">{{ map.description }}</p>
                </div>
              </div>
            </div>
          {% empty %}
              <h1 class="fw-light text-center">Нет доступных карт</h1>
          {% endfor %}

      </div>
    </div>
  </div>


{# FOOTER #}
<div class="container">
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
</div>

</div>
{% block js %}
<script>
const osm = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");
const map = L.map("map", { layers: [osm], minZoom: 5 }).setView([44.61, 33.5], 13);
const tooltipTriggerListInteractive = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipListInteractive = [...tooltipTriggerListInteractive].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}

</body>

</html>