{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ map.name }}</title>

    <link type="image/x-icon" rel="shortcut icon" href="{% static 'flavico.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <script src="{% static 'js/maps/render_map.js' %}"></script>
    <script src="{% static 'js/maps/map_icons.js' %}"></script>
    <script src="{% static 'js/maps/update_layers.js' %}"></script>
    {% if map.interactive %}
    <script src="{% static 'js/maps/update_marker_status.js' %}"></script>
    {% endif %}

  <script>
    // При загрузке
    document.addEventListener('DOMContentLoaded', async function(){

        let groups_list = await get_groups()

        // Добавляем слои на карту
        for (let i = 0; i < groups_list.groups.length; i++) {
            layer_control.overlays[groups_list.groups[i]] = L.featureGroup(
                {name: groups_list.groups[i]}
            ).addTo(map)
        }

        // Добавляем управление слоями на карту
        L.control.layers(
            layer_control.base_layers,
            layer_control.overlays,
            {"autoZIndex": true, "collapsed": true, "position": "topright"}
        ).addTo(map);

        // Рендерим метки
        await render_markers()

        {% if map.interactive %}
        await update_status()
        {% endif %}
    });

  </script>
  </body>
</html>
