{% extends 'base.html' %}
{% load static %}

{% block title %}Traceroute{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static "css/circle_load.css" %}" />
<link rel="stylesheet" href="{% static "css/input.css" %}" />
<style>
    body {
        background-color: #222222;
        background-image: url(/static/img/background.png);
        background-position: top;
        background-repeat: no-repeat;
        {#background-size: cover;#}
    }
</style>
{% endblock %}

{% block content %}
{% csrf_token %}
<div id="app"></div>
{% endblock %}

{% block js %}
<link  href="{% static 'css/vis-4.15.1.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vis-network-4.16.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/devices/traceroute.js' %}" type="text/javascript"></script>
{% endblock %}

{% block footer %}{% endblock %}