{% extends 'base.html' %}
{% load static %}

{% block title %}
Vlan traceroute
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/circle_load.css" %}" />
    <link rel="stylesheet" href="{% static "css/input.css" %}" />
{% endblock %}



{% block content %}
    <style>
        body {
            background-image: url("/static/img/background.png");
            background-repeat: no-repeat;
            background-position: top center;
            background-color: #222222;
        }
    </style>

    <div class="row">
        <h4 class="text-light py-2">Traceroute</h4>
        <div class="col-md-1">
          <input style="text-align: center" type="email" class="form-control rounded-5" id="vlan" autofocus placeholder="vlan">
        </div>
        <div class="col-md-auto">
            <h3>
                <span class="text-light badge bg-secondary" id="vlan_desc">
                    vlan-desc
                </span>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 py-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="only-admin-up">
              <label class="form-check-label text-light" for="only-admin-up">Указывать выключенные порты</label>
            </div>
            <div class="form-check form-switch py-1">
              <input class="form-check-input" type="checkbox" role="switch" id="empty-ports">
              <label class="form-check-label text-light" for="empty-ports">Показывать пустые порты</label>
            </div>
        </div>
    </div>

    <div class="" style="height: 900px" id="includedContent">

    </div>

{% endblock %}


{% block js %}
<link  href="{% static 'css/vis-4.15.1.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
{#<script src="{% static 'js/progressbar.min.js' %}" type="text/javascript"></script>#}
<script src="{% static 'js/vis-network-4.16.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vlan_traceroute.js' %}" type="text/javascript"></script>
{% endblock %}

{% block footer %}{% endblock %}