ALLOWED_HOSTS="{{ALLOWED_HOSTS}}"
DJANGO_DEBUG="{{DJANGO_DEBUG}}"
REDIS_BROKER_URL=":{{redis_password}}@127.0.0.1:6379/{{ redis_broker_db }}"
REDIS_CACHE_URL=":{{redis_password}}@127.0.0.1:6379/{{ redis_cache_db }}"
CONFIG_STORAGE_DIR="{{CONFIG_STORAGE_DIR}}"
DATABASES="{'default': { 'ENGINE': 'django.db.backends.mysql', 'NAME': '{{mariadb_database}}', 'USER': '{{mariadb_user}}', 'PASSWORD': '{{mariadb_password}}', 'HOST': 'localhost', 'PORT': '3306' }}"
DJANGO_SECRET_KEY="{{DJANGO_SECRET_KEY}}"
CONTACT_NAME="{{CONTACT_NAME}}"
CONTACT_EMAIL="{{CONTACT_EMAIL}}"
CACHE_KEY_PREFIX="{{CACHE_KEY_PREFIX}}"
DEVICE_CONNECTOR_TOKEN="{{DEVICE_CONNECTOR_TOKEN}}"
DEVICE_CONNECTOR_ADDRESS="http://{{device_connector_socket}}"
ECSTASY_LOOP_URL="{{ ECSTASY_LOOP_URL }}"