{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'flavico.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/5.2.2.min.css' %}">
    <script src="{% static 'bootstrap/bundle5.2.2.min.js' %}"></script>

    {% block links %}{% endblock %}
    <style>
    .nowrap {
        white-space:nowrap;
    }
    html * {
        font-family: 'Inter', sans-serif;
    }
    .logo {
        border: none;
        height: 70px;
        width: 70px;
        animation: 3.75s linear infinite spinner-border;
    }
    </style>
</head>

<body>

{% block toast %}{% endblock %}

<div class="h-100">

{% include 'menu.html' %}


{# CONTENT #}
<section class="{% if not disable_container %}container{% endif %} py-5" style="flex-grow: 1!important;">
    {% block content %}{% endblock %}
</section>


{# FOOTER #}
<div class="container">
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</div>

</div>
{% block js %}{% endblock %}

</body>
</html>