<footer class="py-5">

    <div class="row">
      <div class="col-3 col-md">
        <h5>Навигация</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/admin">Панель администратора</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'home' %}">Главная</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'logout' %}">Выход</a></li>

        </ul>
      </div>
      <div class="col-3 col-md">
        <h5>Дополнительные ресурсы</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" target="_blank" href="http://10.100.0.50/zabbix/">Zabbix</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" target="_blank" href="http://10.29.29.33/">База знаний</a></li>

        </ul>
      </div>
      <div class="col-3 col-md">
        <h5>О программе</h5>
        <span class="text-muted">
            Ecstasy - Equipment Control System To Assist You -
            программа для управления сетевым оборудованием
        </span>
      </div>
    </div>

<div style="margin-top: 20px">
    <p class="text-center text-muted">
    <svg width="64" height="64" role="img" aria-label="Ecstasy">
        <use xlink:href="#ecstasy"></use>
    </svg>
    © 2022 Ecstasy
</p>
</div>
</footer>