{% load static %}
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container">
{#    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">#}

      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <svg class="bi me-2" width="70" height="70"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
             id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
        <g>
            <path fill="#2E628C" d="M232.9,217.3c114.1-71.7,230.4-96.2,274.6-60.9c-1.2-5.3-3.2-10.4-6.1-14.9c-32.4-51.6-160.2-29.7-285.4,49   C90.9,269.1,15.7,374.7,48.1,426.3c2.9,4.6,6.5,8.5,10.8,11.9C46.3,383.1,118.8,289,232.9,217.3z"></path>
            <path fill="#2E628C" d="M320.2,212.7c71.7,114.1,96.2,230.4,60.9,274.6c5.3-1.2,10.3-3.2,14.9-6.1c51.6-32.4,29.7-160.2-49-285.3   C268.4,70.7,162.8-4.5,111.2,28c-4.6,2.9-8.5,6.5-11.9,10.8C154.4,26.1,248.5,98.6,320.2,212.7z"></path>
            <path fill="#0FB0F5" d="M320.3,356.4C206.2,428.1,88.2,453.2,44,417.9c1.2,5.3,4.1,10.6,7,15.1c32.4,51.6,161,28.9,286.2-49.7   C462.3,304.6,533.9,201,505.4,147.1c-2.5-4.7-7-11-11.3-14.4C506.8,187.8,434.4,284.7,320.3,356.4z"></path>
            <path fill="#0579F7" d="M191.9,152.2c114.1-71.7,230.4-96.2,274.6-60.9c-1.2-5.3-3.2-10.3-6.1-14.9c-32.4-51.6-160.2-29.7-285.4,49   C49.9,204-25.3,309.6,7.2,361.2c2.9,4.5,6.5,8.5,10.8,11.9C5.3,317.9,77.8,223.9,191.9,152.2z"></path>
            <path fill="#0FB0F5" d="M181.1,300.1C109.4,186,84.3,68,119.7,23.8c-5.3,1.2-10.6,4.1-15.1,7c-51.6,32.4-28.9,161,49.8,286.2   c78.7,125.2,182.3,196.7,236.2,168.3c4.7-2.5,11-7,14.4-11.3C349.7,486.6,252.8,414.3,181.1,300.1z"></path>
            <path fill="#06D4FB" d="M279.4,291.2C165.2,363,47.2,388,3,352.7c1.2,5.3,4.1,10.6,7,15.1c32.4,51.6,161,28.9,286.2-49.8   c125.2-78.7,196.7-182.3,168.3-236.2c-2.5-4.7-7-11-11.3-14.4C465.8,122.6,393.5,219.5,279.4,291.2z"></path>
        </g>
        </svg>
          <h4>Ecstasy</h4>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav d-flex text-center">

    {#              HOME #}
            <li class="nav-item active">
              <a href="{% url 'home' %}" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"></path>
                </svg>
                Home
              </a>
            </li>

    {#              LIST DEVICES #}
            <li class="nav-item active">
              <a href="{% url 'devices-list' %}" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"></path>
                </svg>
                List Devices
              </a>
            </li>

    {#              Search Desc #}
            <li class="nav-item active">
              <a href="{% url 'find-descr' %}" class="nav-link text-white">
                <img class="bi d-block mx-auto mb-1" height="24" src="{% static 'img/search-description-icon.svg' %}">
                Search Desc
              </a>
            </li>

    {#              VLAN Traceroute #}
            <li class="nav-item active">
              <a href="{% url 'vlan-traceroute' %}" class="nav-link text-white">
                <div><img class="bi d-block mx-auto mb-1" height="24" src="{% static 'img/vlan-traceroute-icon.svg' %}"></div>
                VLAN
              </a>
            </li>

    {#              MAC Search #}
            <li class="nav-item active">
              <a href="{% url 'search-wtf' %}" class="nav-link text-white">
                <img class="bi d-block mx-auto mb-1" height="25" src="{% static 'img/mac-icon.svg' %}">
                WTF search
              </a>
            </li>

    {#              LOGOUT #}
            <li class="nav-item active">
              <a href="{% url 'logout' %}" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                </svg>
                Logout
              </a>
            </li>

          </ul>
      </div>
{#    </div>#}
  </div>
</nav>