<div>

    <div>
        <h5 class="text-muted back-title" @click="toggleMode">
            {{tracerouteMode==='vlan'?'MAC':'VLAN'}} Traceroute
        </h5>
    </div>

<div v-show="tracerouteMode === 'vlan'">
    <div class="row">
        <div class="d-flex" style="align-items: center;">
            <h4 class="text-light py-3 m-0 me-2">VLAN Traceroute</h4>
            <div class="d-flex py-2 text-light" style="vertical-align: middle">

<!--                RAN WITH PROGRESS-->
                <div class="d-flex" v-if="vlanScanStatus.running && vlanScanStatus.progress">
                    <div class="spinner-border me-2" role="status"></div>
                    <div style="display: flex; align-items: center;">Сканирование завершено на {{vlanScanStatus.progress}}%</div>
                </div>

<!--                ALREADY RAN-->
                <div v-else-if="vlanScanStatus.running" class="spinner-border me-2" role="status"></div>

<!--                RUN VLAN SCAN-->
                <div v-else-if="!vlanScanStatus.running && vlanScanStatus.available">
                    <svg style="cursor: pointer" @click="run_vlans_scan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                         <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                         <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
                     </svg>
                </div>

<!--                ERROR-->
                <div v-else>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>

            </div>
        </div>

        <div class="col-md-2">
          <input @keyup.enter="load_vlan_traceroute" v-model.trim="inputVlan" style="text-align: center; width: 70px" type="text" class="form-control rounded-5" autofocus placeholder="vlan">
        </div>
        <div class="col-md-auto">
            <h3>
                <span class="text-light badge bg-secondary" id="vlan_desc"></span>
            </h3>
        </div>
    </div>

    <div class="form-check form-switch">
      <input v-model="vlanTracerouteOptions.adminDownPorts"
             class="form-check-input" type="checkbox" role="switch" id="only-admin-up"
      >
      <label class="form-check-label text-light" for="only-admin-up">
          Указывать выключенные порты
      </label>
    </div>

    <div class="form-check form-switch py-1">
      <input v-model="vlanTracerouteOptions.showEmptyPorts"
             class="form-check-input" type="checkbox" role="switch" id="empty-ports"
      >
      <label class="form-check-label text-light" for="empty-ports">
          Показывать пустые порты
      </label>
    </div>

</div>

<div v-show="tracerouteMode === 'mac'">
    <div class="row">
        <div class="d-flex" style="align-items: center;">
            <h4 class="text-light py-3 m-0 me-2">MAC Traceroute</h4>
            <div class="d-flex py-2 text-light" style="vertical-align: middle">

<!--                RAN WITH PROGRESS-->
                <div v-if="macScanStatus.running && macScanStatus.progress" class="d-flex">
                    <div class="spinner-border me-2" role="status"></div>
                    <div style="display: flex; align-items: center;">Сканирование завершено на {{macScanStatus.progress}}%</div>
                </div>

<!--                ALREADY RAN-->
                <div v-else-if="macScanStatus.running" class="spinner-border me-2" role="status"></div>

<!--                RUN MAC SCAN-->
                <div v-else-if="!macScanStatus.running && macScanStatus.available">
                    <svg style="cursor: pointer" @click="run_mac_scan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                         <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                         <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
                     </svg>
                </div>

<!--                ERROR-->
                <div v-else>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>

            </div>
        </div>

        <div class="col-md-2">
          <input @keyup.enter="load_mac_traceroute" v-model.trim="inputMac" style="text-align: center" type="text"
                 class="form-control rounded-5" autofocus placeholder="mac">
        </div>
    </div>
</div>


<!--FULL SCREEN-->
    <div id="fullScreen" class="fullScreenButton" title="На весь экран">
        <button id="fullScreenButton" type="button" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"></path>
            </svg>
        </button>
    </div>

<!--COLLAPSE SCREEN-->
    <div id="collapseScreen" title="Свернуть"
         style="z-index: 10; display: none; right: 0; top: 0; position: absolute; margin: 10px 10px 0 0;">
        <button id="collapseScreenButton" type="button" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" fill="currentColor" class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z"></path>
        </svg>
        </button>
    </div>

    <!--LOAD TRACEROUTE-->
    <div v-if="vlanTracerouteStarted || macTracerouteStarted">
      <div style="text-align: center">
        <div class="me-2 spinner-border text-primary" role="status" style="text-align: center;height: 200px;width: 200px;"></div>
      </div>
    </div>

    <div style="background-color: #222222; height: 100%">
    <!--TRACEROUTE-->
        <div id="vlan-network" v-show="tracerouteMode === 'vlan'"></div>
        <div id="mac-network" v-show="tracerouteMode === 'mac'"></div>
    </div>

</div>