<div id="devices">
  <div>
    <div class="row py-2">
        <div class="col-6">
            <h4 class="fw-bold py-4">Выберите оборудование</h4>
        </div>
        <div class="col-6" style="text-align: right">
            <img style="width: 100%" v-bind:src="'/static/img/device-icon-'+imageIndex+'.svg'" alt="search-description-image">
        </div>
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Введите IP или имя" aria-label="Поиск"
             aria-describedby="button-addon2"
             v-model.trim="search"
             autofocus>
    </div>

    <ul class="nav nav-tabs">

      <li class="nav-link text-dark">
        Всего найдено: {{ count }}
      </li>

      <li class="nav-item dropdown noselect">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
            {{ selectedGroup || "Group" }}
        </a>
        <ul class="dropdown-menu" style="cursor: pointer">
              <span class="dropdown-item" @click="changeGroup" value="">Все группы</span>

              <option class="dropdown-item"
               v-for="group in groups"
               @click="changeGroup" v-bind:value="group">{{ group }}</option>

        </ul>
      </li>

      <li class="nav-item dropdown noselect">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            {{ selectedVendor || "Vendor" }}
        </a>
        <ul class="dropdown-menu" style="cursor: pointer">
              <span class="dropdown-item" @click="changeVendor" >Все вендоры</span>

              <option class="dropdown-item"
               v-for="vendor in vendors"
               @click="changeVendor" v-bind:value="vendor">{{ vendor }}</option>

        </ul>
      </li>
    </ul>

    <pagination v-bind:go-to-page="goToPage" v-bind:num_pages="num_pages" v-bind:page="page"></pagination>

    <div class="table-responsive-lg">
        <devices-table v-bind:devices="filteredDevices"></devices-table>
    </div>

    <pagination v-bind:go-to-page="goToPage" v-bind:num_pages="num_pages" v-bind:page="page"></pagination>

</div>
</div>